/* my portfolio's CSS style */

/* body */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    text-align: center;
  }
  
  /* header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* navigation */
  nav {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: <blue>;
    text-decoration: <underline>;
  }
  
  /* hover */
  a:hover {
    color: <red>;
  }
  
  /* header 1 */
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* header 2 */
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  /* header 3 */
  h3 {
    font-size: 18px;
    margin: 0;
  }
  
  /* paragraph */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  } 
  
  /* footer */
  footer {
    background-color: <yellow>;
    color: <black>;
    padding: 10px;
    text-align: center;
  }
  
  